/node_modules
/public/hot
/public/storage
/public/mix
/storage/*.key
/vendor
.env
.env.backup
composer.phar
/storage/openimmo
/public/mix-manifest.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
